/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
   
body{
	background-color: #781d64;
	/*background-image: url("/siteImages/90s\ Arcade\ Carpet.jpg");*/
	background-size: 50%;
	text-align: center;
	align-items: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15pt;
}

.row{
    display:flex;
    min-width:600px;
    max-width: 1100px;
}
.content{
	background-color: #9c628f;
	border-bottom: solid 5px black;
	
	padding:20px;
}
.col{
    float:left;
    background-color: #9c628f;
	border: solid 5px black;
}

.left{
    width:75%;    
}

.right{
    width:25%;
}

.song{
    padding-bottom:30px;
}

#art{
	margin: 10px;
	border: solid 2px black;
	max-width: 250px;
	/*float:right;*/
	width:100px;
	height:100px;
}

.badge {
    width:100px;
}

footer{
	padding-top: 10%;
	width: 100%;
	text-align:center;
	color:white;
}
p{
	font-size: 13pt;
}
li a{
	font-size: 15pt;
}
p a{
	font-size: 25pt;
}

ul{
	list-style: none;	
}
li{
	margin: 0;
	padding: 0;
	display: inline;
}
hr{
    width:125%;
}

a{
	color: blue;	
}
a:visited{
	color: lightblue;
}
